.search-filter {
  background-color: #313131;
  color: white;
  height: fit-content;
  padding: 20px 20px 35px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-banner {
  background-color: #4dad5b;
  padding: 20px 10px;
  border-radius: 10px;
  max-width: 400px;
}
