<header>
  <mat-toolbar color="primary">
    <span><a href="/" style="color: inherit; text-decoration: none">Pokedex Angular</a></span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon style="width: 30px; height: 30px">help</mat-icon>
    </button>
    <a href="https://github.com/sonohara/pokedex-angular" target="_blank" rel="noopener">
      <img src="assets/github-mark-white.png" width="30" height="30" />
    </a>
  </mat-toolbar>
</header>
