<div style="padding: 50px">
  <h1 mat-dialog-title>About "Pokedex Angular"</h1>
  <div mat-dialog-content>
    <p>
      Pokedex-Angular Implement a copy of <a href="https://www.pokemon.com/us/pokedex">Pokedex</a> to learn
      <a href="https://angular.io/">Angular</a>.
    </p>
    <p>
      See more detail:
      <a href="https://github.com/sonohara/pokedex-angular" target="_blank" rel="noopener">GitHub repository</a>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
  </div>
</div>
