main {
  background-image: url("https://www.pokemon.jp/special/ouchipokemon/img/wallpaper/swsh_1.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents {
  max-width: 960px;
  margin: 0 auto;
}
